<!-- header section starts  -->

<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <link rel="stylesheet" href="{% static 'home_user/form.css' %}">

<header class="header">

    <a href="#" class="logo"><img src="{% static 'home_user/images/MADRASA_TIC.png' %}" width="80px" height="80px">groco </a>

    <nav class="navbar">
        <a href="{% url 'categorie' %}">accueil</a>
        <a href="{% url 'categorie' %}#features">catégories</a>
        <a href="{% url 'categorie' %}#review">annonces</a>
        <a href="#review">historique</a>
    </nav>

    <div class="icons">
        <div class="fas fa-bars" id="menu-btn"></div>
        <div class="fas fa-search" id="search-btn"></div>
        <div class="fas fa-bell" id="cart-btn"></div>
        <div class="fas fa-user" id="login-btn"></div>
    </div>

    <form action="" class="search-form">
        <input type="search" id="search-box" placeholder="search here...">
        <label for="search-box" class="fas fa-search"></label>
    </form>

    <div class="shopping-cart">


    </div>

    <form action="" class="login-form">
        <input type="submit" value="logout" class="btn_header">

        <input type="submit" value="profile" class="btn_header">
    </form>

</header>
</head>

<!-- header section ends -->
<body>
   <div class="main-container">

  <div class="formulaire">

       <form  method="post" class="form" enctype="multipart/form-data">{% csrf_token %}


         <div class="title">
          Ajouter annonce
         </div>
          <div class="inputfield">
             <label>Titre</label>
             <input type="text" name="titre" class="input" required>
          </div>

          <div  class="photo">
             <input type="file"  name="image" class="" >
          </div>
          <div class="inputfield">
             <label>Description</label>
             <textarea class="textarea" name="description" required></textarea >
          </div>
            <div class="inputfield">
          <label>Date_début_affichage</label>
          <input type="date" class="input" name="date_debut">
       </div>
            <div class="inputfield">
          <label>Date_fin_affichage</label>
          <input type="date" class="input" name="date_fin">
       </div>
        <div class="inputfield">

        <button type="submit"  class="btn" >Envoyer</button>

        </div>




        </form>
 </div>
   <section class="footer">

    <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
    </div>

    <h1 class="credit"> created by <span> The Matrix </span> | all rights reserved! </h1>

</section>
   </div>

  <script src="{% static 'home_user/form.js' %}"></script>
</body>
</html>