<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Madrasa_tic</title>
     <!-- css stylesheet -->

    <link rel="stylesheet" href="{% static 'home_user/style.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>




  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
<div class="wrapper">
  <div class="top_navbar">
    <div class="hamburger">
       <div class="one"></div>
       <div class="two"></div>
       <div class="three"></div>
    </div>
    <div class="top_menu">
      <div class="logo">Madrasa_tic</div>
      <ul>
        <li><a href="#">
          <i class="fas fa-bell"></i>
          </a></li>
        <li><a href="#">
          <i class="fas fa-user"></i>
          </a></li>
      </ul>
    </div>
  </div>
     <div class="sidebar">
      <ul>
          <li><a href="{% url 'categorie'%}">
          <span class="icon"><i class="fas fa-house-user"></i></span>
          <span class="title">Acceuil</span></a></li>

        <li><a href="{% url 'historique'%}">
          <span class="icon"><i class="fas fa-volleyball-ball"></i></span>
          <span class="title">Historique</span>
          </a></li>

    </ul>

  </div>
     <div class="main_container ">
        <div class="formulaire">
    <div class="title">
      Signaler un problème
    </div>
    <form method="post" class="form" enctype="multipart/form-data">{% csrf_token %}
       <div class="inputfield">
          <label>Titre</label>
          <input type="text" class="input" name="titre" required>
       </div>

        <div class="inputfield">
          <label>Catégorie</label>
          <div class="custom_select">
            <select name="selected_categorie">
                 <option value=""></option>
                {%for cat in cat%}
                <option value="{{cat.id}}" required>{{cat.name}}</option>

                 {%endfor%}
            </select>
          </div>
       </div>
         <div class="inputfield">
          <label>Lieu</label>
          <div class="custom_select">
            <select name="lieu">
                 <option value="cycle supèrieure" required> Cycle supèrieure</option>
                 <option value="cycle praparatoire" required>Cycle préparatoire</option>

            </select>
          </div>
         </div>
             <div class="inputfield">
                <label></label>
             <div class="custom_select">
            <select name="salle" required>
                 <option value=""></option>
                <option value="Amphi A">Amphi A</option>
                <option value="Amphi B">Amphi B</option>
                <option value="Amphi C">Amphi C</option>
                <option value="Amphi D">Amphi D</option>
                <option value="Amphi E">Amphi E</option>
                 <option value="Salle 1">Salle 1</option>
                 <option value="Salle 2">Salle 2</option>
                 <option value="Salle 3">Salle 3</option>
                 <option value="Salle 4">Salle 4</option>
                  <option value="Salle 5">Salle 5</option>
                 <option value="SA1">SA1</option>
                 <option value="SA2">SA2</option>
                 <option value="SA3">SA3</option>
                 <option value="SA4">SA4</option>
                  <option value="B1">B1</option>
                 <option value="B2">B2</option>
                 <option value="B3">B3</option>
                 <option value="B4">B4</option>
                 <option value="TP1">tp1</option>
                 <option value="TP2">tp2</option>
                 <option value="TP3">tp3</option>
                 <option value="TP4">tp4</option>
                 <option value="TP5">tp5</option>
                 <option value="TP6">tp6</option>
                 <option value="TP7">tp7</option>
                 <option value="TP8">tp8</option>
                 <option value="TP9">tp9</option>
                 <option value="TP10">tp10</option>
                 <option value="TP11">tp11</option>
                 <option value="TP11">tp12</option>
                 <option value="TP13">tp13</option>
                 <option value="TP14">tp14</option>

            </select>
          </div>
       </div>
        <div class="inputfield">
          <label>Date</label>
          <input type="date" class="input" name="date" required>
       </div>
      <div class="inputfield">
          <label>Heure</label>
          <input type="time" class="input" name="heure" required>
       </div>
        <div  class="photo">
           <!-- <a href="#">
          <span class="icon"><i class="fas fa-plus"></i></span>
          <span class=""> photo / védio</span>
          </a> -->
            <input type="file" name="image"  required>
        </div>
      <div class="inputfield">
          <label>Description</label>
          <textarea class="textarea" name="description" required></textarea>
       </div>

      <div class="inputfield">
          <button name="valider" value="0" class="btn" > Valider</button>
      </div>
         <div class="inputfield">
          <button name="enregistrer" value="0" class="btn" > Enregistrer</button>
      </div>
    </form>
</div>
     </div>
</div>

<script src="{% static 'home_user/index.js' %}"></script>
</body>
</html>