<!-- header section starts  -->

<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Madrasa_Tic</title>

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <link rel="stylesheet" href="{% static 'home_user/form.css' %}">


</head>

<!-- header section ends -->
<body>
   <div class="main-container">

  <div class="formulaire">

       <form  method="post" class="form" enctype="multipart/form-data">{% csrf_token %}


         <div class="title">
          Ajouter Rapport
         </div>
          <div class="inputfield">
             <label>Titre</label>
             <input type="text" name="titre" class="input" required>
          </div>

          <div  class="photo">
             <input type="file"  name="image" class="" >
          </div>
          <div class="inputfield">
             <label>Description</label>
             <textarea class="textarea" name="description" required></textarea >
          </div>
            <div class="inputfield">
          <label>Date de rapport</label>
          <input type="date" class="input" name="date">
       </div>

        <div class="inputfield">

        <button type="submit"  class="btn" name="save" value="0" >Brouillon</button>

        </div>
            <div class="inputfield">

        <button type="submit"  class="btn" name="valider" value="0" >Envoyer</button>

        </div>




        </form>
 </div>

   </div>

  <script src="{% static 'home_user/form.js' %}"></script>
</body>
</html>