<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Madrasa_Tic</title>

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <link rel="stylesheet" href="{% static 'home_user/form.css' %}">

</head>

<!-- header section ends -->
<body>
   <div class="main-container">


  <div class="formulaire">



       <form  method="post" class="form" enctype="multipart/form-data">{% csrf_token %}
           {% if category %}



         <div class="title">
          Modifier catégorie
         </div>
          <div class="inputfield">
             <label>Nom</label>
             <input type="text" name="titre" class="input" required value="{{ category.name }}">
          </div>

          <div  class="photo">
          {% if category.image %}
          <img src="{{ category.image.url }}" width="50px" height="50px">
              {% endif %}
          
             <input type="file"  name="image" class=""  >
          </div>
          <div class="inputfield">
             <label>Description</label>
             <textarea class="textarea" name="description" required value="">{{ category.description }}</textarea >
          </div>
                <div class="inputfield">
          <label>Service</label>
          <div class="custom_select">

            <select name="selected_service">
                {% if ser %}

                 <option value="{{ category.service.id }}">{{ category.service.name }}</option>
                    {% for ser in ser %}
                    <option value="{{ ser.id }}" required>{{ ser.name }}</option>

                {% endfor %}
            {% endif %}
            </select>
          </div>
       </div>

        <div class="inputfield">

        <button type="submit"  class="btn" value="0" name="save" >Sauvgarder</button>


        </div>
  <div class="inputfield">

        <button type="submit"  class="btn" value="0" name="delete" >Supprimer</button>


        </div>

        <div class="inputfield">

        <button type="submit"  class="btn" value="0" name="cancel" >Annuler</button>


        </div>



  {% endif %}

        </form>
 </div>
    </div>



  <script src="{% static 'home_user/form.js' %}"></script>
</body>
</html>