<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  method="post" enctype="multipart/form-data">{% csrf_token %}
    <label>Title</label>

       <input type="text" name="title" required>
    <label for="story">Tell us your story:</label>

    <textarea name="description"
          rows="5" cols="33">
        ......
    </textarea>

    <label>date</label>
     <input type="date" name="date" required>
    <label>place</label>

<input type="text" name="place" required>


        <label>categorie</label>

<input type="text" name="categorie" required>

        <label>image</label>

<input type="file" name="image" accept="image/png, image/jpeg">>

    <button>valider</button>

</form>
</body>
</html>