<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Madrasa_Tic</title>

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <link rel="stylesheet" href="{% static 'home_user/form.css' %}">


</head>

<!-- header section ends -->
<body>
   <div class="main-container">

  <div class="formulaire">


       <form  method="post" class="form" enctype="multipart/form-data">{% csrf_token %}
       {% if service %}

         <div class="title">
          Ajouter service
         </div>
          <div class="inputfield">
             <label>Nom</label>
             <input type="text" name="titre" class="input" required value="{{ service.name }}">
          </div>


          <div class="inputfield">
             <label>Description</label>
             <textarea class="textarea" name="description" required>{{ service.description }}</textarea >
          </div>

        <div class="inputfield">

          <button type="submit"  class="btn" value="0" name="save" >Sauvgarder</button>


        </div>

             <div class="inputfield">

          <button type="submit"  class="btn" value="0" name="delete" >Supprimer</button>


        </div>

             <div class="inputfield">

          <button type="submit"  class="btn" value="0" name="cancel" >Annuler</button>


        </div>




   {% endif %}
        </form>
 </div>
    </div>


  <script src="{% static 'home_user/form.js' %}"></script>
</body>
</html>