<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>Madrasa_Tic</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'users/style/login.css' %}">
</head>
<body>
    <br>
<br>
    <div class="cont">
     <form method="post">{% csrf_token %}
        <div class="form sign-in ">
        {% if messages %}
            {% for message in messages %}
            <div class="alert {{ message.tags }}" role="alert">{{ message }}</div>
        {% endfor %}
        {% endif %}
            <h2>Bienvenue</h2>

            <label>
                <span>Username</span>
                <input type="text" name="username1"  />
            </label>
            <label>
                <span>Mot de passe</span>
                <input type="password" name="password" pattern=".{8,}" title="8 caractère minimum"  />
            </label>
            <a href="{% url 'reset-password' %}" class="forgot-pass">  <p >Oublier mot de passe?</p></a>
            <button type="submit" class="submit" value="0" name="signin" >Connexion</button>

        </div>

        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">

                    <h3>Vous n'avez pas de compte ? Inscrivez vous. </h3>
                </div>
                <div class="img__text m--in">

                    <h3 >Si vous avez déjà un compte, connectez-vous</h3>
                </div>
                <div class="img__btn">
                    <span class="m--up">Inscription</span>
                    <span class="m--in">Connexion</span>
                </div>
            </div>
            <div class="form sign-up">
                <h2>Créez votre compte</h2>

                <label>
                    <span>Nom d'utilisateur</span>
                    <input type="text" name="username"  />
                </label>

                <label>
                    <span>Nom</span>
                    <input type="text" name="name"   />
                </label>

                 <label>
                    <span>Prénom</span>
                    <input type="text" name="surname"  />
                </label>
                <label>
                    <span>Email</span>
                    <input type="email"  name="email" pattern=".+@esi-sba.dz" title="Entrer un email de la forme exemple@esi-sba.dz"  />
                </label>
                <label>
                    <span>Mot de passe</span>
                    <input type="password" name="password1" pattern=".{8,}" title="8 caractère minimum"  />
                </label>

                <label>
                    <span>Confirmer Mot de passe</span>
                    <input type="password" name="password2"  />
                </label>
                <button type="submit" class="submit" value="0" name="signup">Inscrire</button>


            </div>
        </div>
        </form>
    </div>

    <script>
        document.querySelector('.img__btn').addEventListener('click', function() {
            document.querySelector('.cont').classList.toggle('s--signup');
        });
    </script>

</body>
</html>

