<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'users/style/forget_pass.css' %}">
</head>
<body>
    <br>
<br>
<h1>Réinitialisation de mot de passe</h1>
    <div class="cont">
        <div class="form sign-in oublier_pass">
        {% if messages %}
                {% for message in messages %}
            <div class="alert {{ message.tags }}" role="alert">{{ message }}</div>
        {% endfor %}
        {% endif %}
            <h2>Email</h2>
            <form method="post">{% csrf_token %}
            <label>

                    <input type="email"  name="email" pattern=".+@esi-sba.dz" title="Entrer un email de la forme exemple@esi-sba.dz" required />

            </label>

             <button type="submit" class="submit">
                Valider
             </button>
                </form>

        </div>
    </div>
</body>
</html>